@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    background-color: #2c3e4f;
}

/* Jumbotron section */
section#jumbotron {
    background-color: #19bc9c;
}

section#jumbotron div.jumbo-box {
    width: 600px;
    margin: 0 auto;
    /* background-color: blue; */
}

section#jumbotron div.jumbo-box img {
    width: 250px;
}

section#jumbotron h1 {
    font-size: 3.5rem;
}

section#jumbotron .line {
    width: 100px;
    border-bottom: 1px solid whtie;
}

section#jumbotron p {
    font-size: 1.5rem;
}

/* Portfolio section */
.my-red-bg {
    background-color: #ba4b63;
}

.my-turquoise {
    background-color: #1ca4b5;
}

.my-light-blue-bg {
    background-color: #1b83c1 ;
}

.my-dark-blue-bg {
    background-color: #0f38b5;
}

.my-khaki-bg {
    background-color: #ccb2a3;
}

.circle {
    background-color: white;
    height: 200px;
    width: 200px
}

/* About section */
section#about {
    background-color: #19bc9c;

}

/* About section */
section#contact-me {

}

footer .my-footer-top {
    background-color: #3B536D;
    height: 120px;
}

footer .my-footer-bottom {
    background-color: #2c3e4f;
    height: 60px;
}

