/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

h1 {
    font-weight: 700;
}

.my-color-header {
    background-color: #2c3e4f;
}

.my-color-jumbo {
    background-color: #19bc9c;
}

p {
    font-size: 1.5rem;
}

.my-red-bg {
    background-color: #ba4b63;
}

.my-turquoise {
    background-color: #1ca4b5;
}